body {
    width: 85%;
    max-width: 1175px;
    margin: 0 auto;
}

.bold_color_white {
    color: #F9FAF8;
    font-weight: bolder;
    margin-bottom: 0px;
    font-size: 48px;
}

.secondary_text {
    color: #E5E7EB;
    font-size: 14px;
    opacity: 85%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.a_without_style {
    text-decoration: none;
    color: inherit;
}

.sign_in_button {
    background-color: #307fff;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    padding: 6px 25px 6px 25px;
    text-decoration: none;
}

.sign_in_button:hover {
    background-color: rgb(0, 83, 216);
}

header {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    background-color: #1F2937;
    height: 400px;
}

header div:first-of-type {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    padding-top: 10px;
}

header div:first-of-type img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 15px;
}

header div:first-of-type ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header ul li {
    margin-right: 25px;
}

header div:last-of-type {
    width: 43.75%;
}