* {
    box-sizing: border-box;
}

body {
    width: 85%;
    max-width: 1175px;
    margin: 0 auto;
}

.html_elements_margin {
    padding-left: 10%;
    padding-right: 10%;
}

.bold_color_white {
    color: #F9FAF8;
    font-weight: bolder;
    margin-bottom: 0px;
    font-size: 48px;
}

.secondary_text {
    color: #E5E7EB;
    font-size: 12px;
    opacity: 85%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.a_without_style {
    text-decoration: none;
    color: inherit;
}

.sign_in_button {
    background-color: #307fff;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    padding: 6px 25px 6px 25px;
    text-decoration: none;
}

.sign_in_button:hover {
    background-color: rgb(0, 83, 216);
}

header {
    padding-top: 10px;
    background-color: #1F2937;
    height: 400px;
}

.nav_box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    padding-top: 10px;
}

.nav_box img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 15px;
}

.nav_box ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 17.5px;
}

.header_text_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 70px;
    gap: 3.5%px;
    margin-left: auto;
    margin-right: auto;
}

.header_big_text {
    width: 48.5%;
    max-width: 385px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.header_big_text h2 {
    margin-top: 0px;
}

.placeholder_image {
    background-color: rgba(180, 180, 180, 0.74);
    width: 48.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    max-width: 385px;
    color: white;
    opacity: 85%;
}

.random_info_section {
    margin-top: 0px;
    border: 1px solid;
    height: 365px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
}

.random_info_section h3 {
    font-size: 25px;
    width: 100%;
    text-align: center;
    margin-bottom: -20px;
}

.random_info_article {
    width: 20%;
    margin-top: -50px;
}

.random_image_text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.random_image_text img {
    max-width: 90%;
    border-radius: 12px;
}

.random_image_text p {
    width: 90%;
    margin-top: 0px;
    font-size: 13px;
    color: grey;
    text-align: center;
}